.item1 {grid-area:header;
  background-color: purple;
}
.item2 {grid-area:main;
  font-family: monospace;
  border: solid;

}
.item3 {grid-area: menu;
  text-decoration: underline;

}
.item4 {grid-area: footer;
  margin-top: 60px;

}
.grid-container {
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: crimson;
  padding: 10px;
  grid-gap: 10px;
  grid-template-areas: 
  'header header header header'
  'main main main main'
  'menu menu menu menu'
  'footer footer footer footer'
}
h1 {text-align: center;
    font-family: fantasy;

}
